<h1 class="mt-4 text-center"> Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active text-center"><h4>Novo Serviço</h4></li>
</ol>
<div class="container">
  <form #servicoForm="ngForm" (submit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="selectCliente" style="padding-right: 3px;"><b>Cliente: </b></label>
              <select class="form-control col-md-12" id="selectCliente" [ngModelOptions]="{standalone: true}" [(ngModel)]="servico.idCliente">
                <option value="">Selecione</option>
                <option *ngFor="let item of clientes" [ngValue]="item.id"> {{ item.nome + ' ' + item.lastName}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="descricao"> Descrição: </label>
              <textarea class="form-control" type="text" rows="3" name="descricao" id="descricao" [(ngModel)]='servico.descricao'></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="valor"> Valor: </label>
              <input class="form-control" type="number" name="valor" id="valor" [(ngModel)]='servico.valor'>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="data"> Data: </label>
              <input class="form-control" type="date" name="data" id="data" [(ngModel)]='servico.data'>
            </div>
          </div>
        </div>

<div class="row">
  <div class="col-md-12 ">
    <button type="submit" class="btn btn-success float-right ml-4"> <i class="fa fa-save"></i> Salvar </button>
    <button type="reset" class="btn btn-danger float-right"> <i class="fa fa-ban"></i> Cancelar </button>
  </div>
</div>

  </form>
</div>
